.App h1, h2 {
    text-align: center;
    color: #0a156d;
    margin-top: 40px;
}

.App h2 {
    font-size: 18px;
}

.App  .container {
    max-width: 800px;
    min-height: 300px;
    margin-top: 80px;
    border-radius: 20px;
    box-shadow: 0 10px 20px 0 #b3bbc673;;
}

.App .row-of-labels {
    padding-top: 30px;
    font-size: 20px;
    color: #0a156d;
    padding-bottom: 15px;
}

.App .btn {
    margin-top: 60px;
}

